*{
    margin: 0;
    padding: 0;
    /* border:1px solid black; */

}

:root{
    --primarycolor:  white ;
    --secondarycolor: black;
    --accentcolor:gray;
    /* background: aqua; */
    
}

.container{
    /* height:700px; */
    color: var(--primarycolor);
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.navbar{
    margin:10px 100px;
    padding: 10px ;
    width:80%;
    height:80px;
    /* border:1px solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondarycolor);
    background-color: var(--primarycolor);
    /* position: fixed; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* to make the navbar look glassy */
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.navbar h1{
    font-size: 70px;
    color: blue;
}

nav{
    padding:0px 30px;
    gap: 10px;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.note{
    border:1px solid white; 
    padding: 50px 50px 50px 50px;
    color: var(--secondarycolor);
    margin-top: 200px;
    left: 5px;
    animation: fade-in 4s ease-in;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

.note h2{
    font-size: 50px;
    color: blue;
}

@keyframes fade-in{
    from{opacity: 0; }
    to{opacity: 1;}
}

@keyframes slide-down{
    from{bottom : 150px;}
    to{bottom : 0px;}
}

button{
    border:1px solid black;
    cursor: pointer;
    padding: 13px 21px;
    margin: 0;
    background-color: #e7e7e7;
    display: inline-block;
    /* border: none; */
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: red;
    color: white;
    
}

button a{
    text-decoration: none;
}

#back-vid{
    position: fixed;
    /* inset:0; */
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    background: rgba(0,0,0,0.35);
    z-index: -1; /*pushes the video behind elements*/
}

footer{
    border:1px solid white;
    color: rgba(0 ,0, 0, 0.80);
    text-align: center;
    
}


@media only screen and (max-width: 600px) {
   *{
    box-sizing: border-box;
   } 

   .container{
        display: flex;
        align-items: center;
        flex-direction: column;
   }

   #back-vid{
    min-width: auto;
    min-height: 100%;
    z-index : -1;
   }
}

@media only screen and (min-width:1200px ){
    .container{
        display: flex;
        /* align-items: center; */
        flex-direction: column;
   }

   .note{
        margin-bottom: 40px;
   }
    #back-vid{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        right: 0;
        bottom: 0;
        z-index : -1;
   }
}
